@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Informação Pessoal";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>A tua conta contem informação pessoal que nos foi dada. Esta Pagina permite fazeres download ou apagares esta informação.</p>
        <p>
            <strong>Ao apagar esta informação irá remover permanentemente a tua conta, ela não pode ser recuperada.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary">Apagar</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
