@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação de nova palavra-passe";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor confirme o seu email para recriar a palavra-passe.
</p>

