@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reenviar confirmação da palavra-passe";
}

<h1>@ViewData["Title"]</h1>
<p>
    A sua palavra-passe foi atlerada. Por favor <a asp-page="./Login">clique aqui para iniciar sessão</a>.
</p>
