@{
    ViewData["Title"] = "Ana Domingues";
}
<div class="jumbotron">
    <h3 class="text-sm-center">O Meu Perfil</h3>

</div>

<section id="home" class="principal-section img-bg">

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 text-center">
            <img src="~/imagens/Imagem Ana.jpg" alt="fotografia Ana" width="90%" class="img-fluid img-thumbnail bg-dark border border-dark">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <p class="text-light">

                <div class="principal-content">
                    <h1>Ana Domingues</h1>
                </div>
            <p>

                <h5>
                    Com uma formação diversa, tenho especial aptência pelas novas tecnologias e pela área de Logistica.
                    Gosto de dinamismo e novos desafios que me mantenham em constante procura de conhecimento.
                </h5>
                <h5>Excelentes conhecimentos de inglês e bons conhecimentos de espanhol e francês.</h5>
            </p>

            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                <div class="fa-2x text-center">
                    <a href="https://www.facebook.com/ana.domingues.1293/"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/analmjdomingues/"><i class="fab fa-instagram"></i> </a>
                    <a href="mailto: analmjdomingues@yahoo.fr"><i class="fas fa-at"></i></a>
                    <a href="https://www.linkedin.com/in/analmjdomingues"><i class="fab fa-linkedin-in"></i></a>
                    <a href="~/imagens/CVAnaDomingues.pdf"><i class="fas fa-folder-plus"></i></a>
                </div>
                <p>
                </p>
                <div class="text-center">
                    <a class="btn btn-secondary text-light text-end" asp-action="Equipa" text="_blank">Página da Equipa</a>
                </div>
            </div>
        </div>
    </div>
</section>
