@{
    ViewData["Title"] = "Carlos Brito";
}

<h1 class="text-center">Carlos Brito</h1>
<hr />
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <img src="~/imagens/CarlosHardware.jpg" alt="fotografia hardware" width="65%" class="img-fluid img-thumbnail" />
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 text-justify">
        <p style="font-size:25px">
            Comecei por tirar um curso de Técnico de gestão de equipamentos informáticos, no qual aprendi a assemblar computadores, detetar avarias e escolher quais os
            componenetes para tipos diferentes de computadores.
        </p>
    </div>
</div>

</br>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 text-justify">
        <p style="font-size:25px">
            Em seguida, tirei um curso técnico especialista em gestão de redes e sistemas informáticos, que consistia em construir redes, 
            assemblar servidores e configurar servidores e os seus vários serviços.
        </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <img src="~/imagens/CarlosServidor.jpg" alt="fotografia servidores" width="90%" class="img-fluid img-thumbnail" />
    </div>
</div>

</br>

<div class="row">

    <div class="col-lg-6 col-md-6 col-sm-6">
        <img src="~/imagens/CarlosProgramar.jpg" alt="fotografia programar" width="70%" class="img-fluid img-thumbnail" />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 text-justify">
        <p style="font-size:25px">
            De momento estou a concluir o curso de programador .NET no ambito do projeto UPskill, onde estou a aprender a fazer aplicações webs.
        </p>
    </div>

</div>
</br>
<div class="text-center">
    <a class="btn btn-secondary text-light text-end" asp-action="Equipa" text="_blank">Página da Equipa</a>
</div>