@{
    ViewData["Title"] = "Documentação";
}

<ol class="breadcrumb">
    <li class="active">
        @Html.ActionLink("Home", "Index", "Home") > @ViewBag.Title
    </li>
</ol>
<div class="row store-item" id="storeitems">
    <!--single item-->
    <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item sweets box-shadow">
        <div class="card single-item">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Diagrama de Use cases</h5>
                    <p class="card-text">Diagrama de use cases da APP.</p>
                    <a href="https://ipsetubal-my.sharepoint.com/:w:/g/personal/us_rrodrigues_eventos_ips_pt/ETmiyiKBqrxNrm5AoTpjih8B9JAtcRCJmpAOeIE5TuPg6g?e=dl7y59" target="_blank"
                       class="card-link">Link para Documento</a>
                </div>
            </div>
        </div>
    </div>
    <!--end of single item-->
    <!--single item-->
    <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item sweets box-shadow">
        <div class="card single-item">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Tabelas Níveis de acesso</h5>
                    <p class="card-text">Gestão níveis acesso da APP.</p>
                    <a href="https://ipsetubal-my.sharepoint.com/:x:/g/personal/us_rrodrigues_eventos_ips_pt/ERCT0ZS97P1CuRkpAl6Ks3MBhk0afVDmyAVfHWErruMxVQ?e=2xeFOA" target="_blank"
                       class="card-link">Link para Documento</a>
                </div>
            </div>
        </div>
    </div>
    <!--end of single item-->
    <!--single item-->
    <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item sweets box-shadow">
        <div class="card single-item">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Fluxogramas</h5>
                    <p class="card-text">Fluxogramas da APP.</p>
                    <a href="https://ipsetubal-my.sharepoint.com/:w:/g/personal/us_rrodrigues_eventos_ips_pt/EYWuDBjuStVOgtHtPqW3teQBIlwYiDwwVj8jsoC3kbONAA?e=SEvBRS" target="_blank"
                       class="card-link">Link para Documento</a>
                </div>
            </div>
        </div>
    </div>
    <!--end of single item-->
    <!--single item-->
    <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item sweets box-shadow">
        <div class="card single-item">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Diagramas de Bases de Dados</h5>
                    <p class="card-text">Diagramas de SQL da APP.</p>
                    <a href="https://ipsetubal-my.sharepoint.com/:i:/g/personal/us_rrodrigues_eventos_ips_pt/Ea3EgaGa20BFhgCyUECuh34BbDRiUrzmQBWWs32IPOfOkw?e=NXcXom" target="_blank"
                       class="card-link">Link para Documento</a>
                </div>
            </div>
        </div>
    </div>
    <!--end of single item-->
    <!--single item-->
    <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item sweets box-shadow">
        <div class="card single-item">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Diagramas de Identidades</h5>
                    <p class="card-text">Diagramas de Identidades da APP.</p>
                    <a href="https://ipsetubal-my.sharepoint.com/:i:/g/personal/us_rrodrigues_eventos_ips_pt/ET8YITCNKTVFtPW77JFxYTwBi77hoOL_6xV_g2UQtrJvAw?e=DNURuv" target="_blank"
                       class="card-link">Link para Documento</a>
                </div>
            </div>
        </div>
    </div>
    <!--end of single item-->
    <!--single item-->
    <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item sweets box-shadow">
        <div class="card single-item">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Diagrama Classes</h5>
                    <p class="card-text">Diagrama de Classes da APP.</p>
                    <a href="https://ipsetubal-my.sharepoint.com/:i:/g/personal/us_csa_eventos_ips_pt/ES7403jp5TRKt9tsY1WJaw4BqY5iavUHNAZbaKg3TKo45Q?e=8eAWK6" target="_blank"
                       class="card-link">Link para Documento</a>
                </div>
            </div>
        </div>
    </div>
    <!--end of single item-->
    <!--single item-->
    <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item sweets box-shadow">
        <div class="card single-item">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Documentação Técnica</h5>
                    <p class="card-text">Documentação Técnica da APP.</p>
                    <a href="https://catiamsa.github.io/DocTecnica/" target="_blank"
                       class="card-link">Link para Documento</a>
                </div>
            </div>
        </div>
    </div>
    <!--end of single item-->
    <!--single item-->
    <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item sweets box-shadow">
        <div class="card single-item">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Manual de Utilizador</h5>
                    <p class="card-text">Manual de Utilizador da APP.</p>
                    <a href="https://ipsetubal-my.sharepoint.com/:b:/g/personal/us_csa_eventos_ips_pt/EZIRn60grGdHsS2C3fHN1UUBRLP7s1lxexF9qXgHgAGCoA?e=nLgkzB" target="_blank"
                       class="card-link">Link para Documento</a>
                </div>
            </div>
        </div>
    </div>
    <!--single item-->
    <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item sweets box-shadow">
        <div class="card single-item">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Gráficos estatísticos de donativos</h5>
                    <p class="card-text">Histórico de doações da APP.</p>
                    <a href="https://app.powerbi.com/reportEmbed?reportId=609753dc-fce1-497b-814d-8ffab554f538&autoAuth=true&ctid=ad28c625-f2ca-4e91-b6d6-18922bc9391c&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWV1cm9wZS1ub3J0aC1iLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" target="_blank"
                       class="card-link">Link para Documento</a>
                </div>
            </div>
        </div>
    </div>
    <!--end of single item-->
</div>