@{
    ViewData["Title"] = "Política de Privacidade";
}


<ol class="breadcrumb">
    <li class="active">
        @Html.ActionLink("Home", "Index", "Home") > @ViewBag.Title
    </li>
</ol>


<div class="jumbotron jumbotron-index">
    <h1 class="text-primary text-light">Política de Privacidade</h1>
    <h4 class="lead text-light">
        Esta Política de privacidade procura explanar quais as utilizações de informação pelo nosso website.
        <p> A utilização deste website por si constitui consentimento a esta Política pela qual nos regemos.</p>
    </h4>
</div>


<!--Politica Privacidade em formato áccordion-->

<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link justify-content-center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Objetivo do nosso Website <i class="fas fa-plus-square"></i>
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                Mantemos este website de forma a divulgar a iníciativa do agrupamento 59 dos escuteiros "Movimento Bebé Quentinho".
                <p>Ao promover a divulgação do nosso movimento sabemos que estamos a ajudar mais crianças e jovens desprotegidos e com necessidades.</p>
                <p>No nosso website, poderá obter facilmente acesso a informação sobre o que fazemos.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading2">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                    Entidade Responsável pelo tratamento de dados <i class="fas fa-plus-square"></i>
                </button>
            </h5>
        </div>

        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
            <div class="card-body">
                Os dados pessoais são tratados pelo Movimento Bebé Quentinho na qualidade de Responsável pelo Tratamento, podendo ser contactada através de email:movimentobq59@gmail.com.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading3">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                    Cookies <i class="fas fa-plus-square"></i>
                </button>
            </h5>
        </div>

        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
            <div class="card-body">
                Utilizamos cookies para personalizar conteúdo e anúncios, fornecer funcionalidades de redes sociais e analisar o nosso tráfego.
                Também partilhamos informações acerca da sua utilização do site com os nossos parceiros de redes sociais, de publicidade e de análise,
                que as podem combinar com outras informações que lhes forneceu ou recolhidas por estes a partir da sua utilização dos respetivos serviços.

            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading3">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse3">
                    O que são cookies <i class="fas fa-plus-square"></i>
                </button>
            </h5>
        </div>

        <div id="collapse4" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
            <div class="card-body">
                Os cookies são pequenos ficheiros de texto que podem ser utilizados por websites para tornar a experiência do utilizador mais eficiente.

                A lei diz que podemos armazenar cookies no seu dispositivo se forem estritamente necessários para o funcionamento deste site. Para todos os outros tipos de cookies precisamos da sua permissão.

                Este site utiliza diferentes tipos de cookies. Alguns cookies são colocados por serviços independentes que aparecem nas nossas páginas.

                Pode a qualquer momento alterar ou retirar o seu consentimento da Declaração de Cookies no nosso website.

                Saiba mais sobre quem somos, como pode contactar-nos e como processamos os dados pessoais na nossa Política de Privacidade.

                Indique sua ID de consentimento e a data quando entrar em contato conosco sobre o seu consentimento.
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading3">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse3">
                    Cookies de Preferencia <i class="fas fa-plus-square"></i>
                </button>
            </h5>
        </div>

        <div id="collapse5" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
            <div class="card-body">
                Os cookies de preferência permitem que um website memorize as informações que mudam o comportamento ou o aspeto do website, como o seu idioma preferido ou a região em que se você encontra.
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading4">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse4">
                    Cookies de estatística <i class="fas fa-plus-square"></i>
                </button>
            </h5>
        </div>

        <div id="collapse6" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
            <div class="card-body">
                Os cookies de estatística ajudam os proprietários de websites a entenderem como os visitantes interagem com os websites, recolhendo e divulgando informações de forma anónima.
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading4">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse4">
                    Cookies de Marketing <i class="fas fa-plus-square"></i>
                </button>
            </h5>
        </div>

        <div id="collapse7" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
            <div class="card-body">
                Os cookies de estatística ajudam os proprietários de websites a entenderem como os visitantes interagem com os websites, recolhendo e divulgando informações de forma anónima.
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading4">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse8" aria-expanded="true" aria-controls="collapse4">
                    Cookies Não classificados <i class="fas fa-plus-square"></i>
                </button>
            </h5>
        </div>

        <div id="collapse8" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
            <div class="card-body">
                Os cookies não classificados são cookies que estão em processo de classificação, juntamente com os fornecedores de cookies individuais.
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading4">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse9" aria-expanded="true" aria-controls="collapse4">
                    O que são dados pessoais<i class="fas fa-plus-square"></i>
                </button>
            </h5>
        </div>

        <div id="collapse9" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
            <div class="card-body">
                Quando nos referimos a dados pessoais referimo-nos a qualquer informação, de qualquer natureza e independentemente do respetivo suporte, incluindo som e imagem, relativa a uma pessoa singular identificada ou identificável.
                É considerada identificável a pessoa que possa ser identificada direta ou indiretamente, designadamente por referência a um número de identificação ou a um ou mais elementos específicos da sua identidade física, fisiológica, psíquica, económica, cultural ou social.
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading4">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse10" aria-expanded="true" aria-controls="collapse4">
                    Que tipo de dados são recolhidos?<i class="fas fa-plus-square"></i>
                </button>
            </h5>
        </div>

        <div id="collapse10" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
            <div class="card-body">
                O MBQ no âmbito da sua atividade, procede à recolha e ao tratamento dos dados pessoais necessários à pgestão de donativos, tratando, nesse âmbito, dados como o nome, a morada, o número de telefone e o endereço de correio eletrónico.
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading4">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse11" aria-expanded="true" aria-controls="collapse4">
                    Quando e como recolhemos os dados?<i class="fas fa-plus-square"></i>
                </button>
            </h5>
        </div>

        <div id="collapse11" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
            <div class="card-body">
                O MBQ recolhe os dados pessoais por telefone, por escrito ou através de dos seus websites, mediante o consentimento do respetivo titular.
                Por regra, os dados pessoais são recolhidos quando o titular dos dados entra em contacto com MBQ ou se inscreve.
                Alguns dados pessoais são de fornecimento necessário e, em caso de falta ou insuficiência desses dados, o MBQ não poderá disponibilizar a resposta em causa, pelo que informará o seu titular dessa circunstância.
                Serão também usados dados, com devido consentimento, dados para envio de newsletters e comunicações de marketing.
                Os dados pessoais recolhidos são tratados informaticamente e no estrito cumprimento da legislação de proteção de dados pessoais, sendo armazenados em base de dados específicas,
                criadas para o efeito e, em situação alguma, os dados recolhidos são usados para outra finalidade que não seja aquela para a qual foi dado o consentimento por parte do titular dos dados
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading4">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse12" aria-expanded="true" aria-controls="collapse4">
                    Quais as finalidades de tratamento dos dados?<i class="fas fa-plus-square"></i>
                </button>
            </h5>
        </div>

        <div id="collapse12" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
            <div class="card-body">
                Os dados pessoais serão utilizados para gerir os pedidos de doação, gestão de eventos, de voluntários, famílias que usufruem de doações e ações de informação e marketing..
                Poderão ser fornecidos dados pessoais para outras finalidades, como reclamações e sugestões, inquéritos de satisfação e avaliação.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading4">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse13" aria-expanded="true" aria-controls="collapse4">
                    Por quanto tempo conservamos os dados?<i class="fas fa-plus-square"></i>
                </button>
            </h5>
        </div>

        <div id="collapse13" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
            <div class="card-body">
                O período de tempo durante o qual os dados são armazenados e conservados será apenas o necessário para a finalidade definida para seu tratamento.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading4">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse14" aria-expanded="true" aria-controls="collapse4">
                    Direitos dos titulares dos dados<i class="fas fa-plus-square"></i>
                </button>
            </h5>
        </div>

        <div id="collapse14" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
            <div class="card-body">
                <p>
                    <strong>Direito de acesso aos dados:</strong>
                    direito a obter a confirmação de quais são os dados pessoais que são tratados e informação sobre os mesmos, como por exemplo, quais as finalidades do tratamento, quais os prazos de conservação, entre outros.
                </p>
                <p>
                    <strong>
                        Direito de Retificação:
                    </strong>
                    direito de solicitar a retificação dos dados pessoais que se encontrem inexatos ou solicitar que os dados pessoais incompletos sejam completados, como por exemplo a morada, o número de identificação fiscal, o endereço de correio eletrónico, os contactos telefónicos, ou outros.
                </p>
                <p>
                    <strong>
                        Direito ao Apagamento dos dados ou “direito a ser esquecido”:
                    </strong>
                    direito de obter o apagamento dos dados pessoais, desde que não se verifiquem fundamentos válidos para a sua conservação, como por exemplo os casos em que a seguradora tem de conservar os dados para cumprir uma obrigação legal de preservação para investigação, deteção e repressão de crimes ou porque se encontra em curso um processo judicial.
                </p>
                <p>
                    <strong>
                        Direito à Portabilidade:
                    </strong>
                    direito de receber em formato digital de uso corrente e de leitura automática os dados fornecidos à Mútua, ou de solicitar a transmissão direta dos seus dados para outra entidade, por exemplo, outra seguradora.
                </p>
                <p>
                    <strong> Direito a Retirar o Consentimento ou Direito de Oposição:</strong>
                    direito de se opor ou retirar o consentimento, a qualquer momento, a um tratamento de dados, desde que não se verifiquem interesses legítimos que prevaleçam sobre esses interesses, direitos e liberdades, como por exemplo de defesa de um direito num processo judicial.
                </p>
                <p>
                    <strong>
                        Direito de Limitação:
                    </strong>
                    direito a solicitar a limitação do tratamento dos dados pessoais, sob a forma de: (i) suspensão do tratamento ou (ii) limitação do âmbito do tratamento a certas categorias de dados ou finalidades de tratamento.
                </p>
                <p>
                    <strong>
                        Direito à informação:
                    </strong>
                    direito a ser previamente informado sobre a finalidade a que se destinam os dados pessoais recolhidos e sobre os termos em que irão ser tratados.
                </p>
                <p>
                    <strong>
                        Direito a notificação em caso de quebra de segurança:
                    </strong>
                    direito a ser informado da ocorrência de violação dos seus dados pessoais, por quebra de segurança.
                </p>
                <p>
                    O exercício dos direitos acima indicados poderá ser limitado em virtude da existência de direitos e liberdades de terceiros, de obrigações legais ou de confidencialidade e de interesses legítimos prevalecentes da seguradora ou de terceiro, nos termos da Lei em vigor.
                    Para exercer os direitos, o titular dos dados deverá contactar o Movimento Bebé Quentinho, sendo necessário para seja fornecido um comprovativo da identidade.
                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading4">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse15" aria-expanded="true" aria-controls="collapse4">
                    Como aceder, retificar, opor-se ao tratamento dos dados?<i class="fas fa-plus-square dropdown-menu-right"></i>
                </button>
            </h5>
        </div>

        <div id="collapse15" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
            <div class="card-body">
                O titular dos dados tem o direito de solicitar o acesso à informação pessoal e pode ser solicitada a retificação, apagamento e limitação do tratamento dos dados.
                O titular dos dados pode opor-se ao tratamento dos dados pessoais, sem qualquer justificação quando esteja em causa uma situação de marketing direto e,
                nos restantes casos, por motivos relacionados com cada situação em particular.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading4">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse16" aria-expanded="true" aria-controls="collapse4">
                    Com quem são partilhados os dados?<i class="fas fa-plus-square"></i>
                </button>
            </h5>
        </div>

        <div id="collapse16" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
            <div class="card-body">
                O MBQ, poderá recorrer a terceiros para a prestação de determinados serviços como envio de emails.
                O MBQ toma as medidas adequadas, de forma a assegurar que as entidades que tenham acesso aos dados, acautelem o fiel cumprimento de RGPD.
            </div>
        </div>
    </div>
</div>